@page
@model OdinCM.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>@Localizer["Customer"]</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CreatedAt)
        </dt>
        <dd>
            <span data-value="@Model.Customer.CreatedAt" class="timeStampValue"> @Model.Customer.CreatedAt</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UpdatedAt)
        </dt>
        <dd>
            <span data-value="@Model.Customer.UpdatedAt" class="timeStampValue"> @Model.Customer.UpdatedAt</span>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CustomerID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
