@{
    var title = "Article not found";
    ViewData["Title"] = title;
}
<h1>@title</h1>

<ul>
    <li>@Localizer["ListItem1"]</li>
    <li>@Localizer["ListItem2"]</li>
    <li>@Localizer["ListItem3"] <a asp-page="/Create">create</a> the page?</li>
</ul>

<div>
    <a class="btn btn-outline-info" asp-page="/Articles/Create">@Localizer["Create"]</a>
</div>

<a href="~/">@Localizer["GoHome"]</a>


