@page "./Articles/{Slug?}"
@model OdinCM.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Article.Topic</h2>
<h6>Last Published: <span data-value="@Model.Article.Published" class="timeStampValueL"> @Model.Article.Published</span></h6>

<markdown>@Model.Article.Content</markdown>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Edit</a>
    @if (Model.Article.Topic != "HomePage")
    {
        <text> |</text> <a href="~/Articles">Back to Home</a>
    }

</div>
